<ion-header class="ion-no-border">
  <ion-toolbar class="details-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="light">
        <ion-icon name="arrow-back"></ion-icon> REGRESAR
      </ion-button>
    </ion-buttons>
    <ion-title class="mission-status">STATUS: ACTIVE INFILTRATION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="dark-content">
  <div class="container">
    
    <div class="mission-header-block">
      <h1>{{ mission.title }}</h1>
      <div class="sub-meta">
        RANK: <span class="text-red">{{ mission.rank }}-RANK</span> | SECTOR: NEO-KYOTO
      </div>
    </div>

    <div class="briefing-card">
      <h3><ion-icon name="document-text"></ion-icon> BRIEFING</h3>
      <p>{{ mission.description }}</p>
      
      <div class="action-buttons">
        <button class="btn-abandon">
          <ion-icon name="close-circle"></ion-icon> ABANDONAR
        </button>
        <button class="btn-report">
          <ion-icon name="send"></ion-icon> ENVIAR REPORTE FINAL
        </button>
      </div>
    </div>

    <div class="section-title">
      <ion-icon name="camera" class="icon-red"></ion-icon> RECOLECCIÓN DE EVIDENCIA
    </div>
    <div class="evidence-box">
      <div class="upload-placeholder">
        <ion-icon name="cloud-upload-outline"></ion-icon>
        <span>Arrastra fotos o haz click para subir</span>
        <small>.JPG, .PNG (Archivos encriptados)</small>
      </div>
      <div class="thumbnails">
         <div class="thumb-add">+</div>
      </div>
    </div>

    <div class="section-title">
      <ion-icon name="create" class="icon-red"></ion-icon> NARRATIVA DE MISIÓN
    </div>
    <div class="narrative-box">
      <textarea placeholder="Registra tus movimientos y desviaciones del plan..."></textarea>
    </div>

  </div>
</ion-content>